[build]
  publish = "out/frontend/"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  NEXT_PUBLIC_ENVIRONMENT = "production"

[context.deploy-preview.environment]
  NEXT_PUBLIC_ENVIRONMENT = "preview"
